
@import 'https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap';

.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin:auto;
    background-color: #e4803a;

    padding: 20px;
    border-radius: 10px;
    text-align: center;

    grid-template-columns: 1fr 1fr 1fr;
   

    
}
.text-container img{
    width: 100;
}

h1{
    color: whitesmoke;
}

img{
    width: 300px;
    margin-bottom: 60px;
}

input{
   margin-bottom: 10px;;
    width: 100%;
    display: block;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius:10px;
    

}
::-webkit-input-placeholder{
    color:#e4803a;
    font-family: 'New Tegomin', serif;
}
body{
    background-image: url(./assets/teste-tamanho.jpg);
    background-repeat: no-repeat;
    
    

       
}
.button1{
     display:inline-block;
     padding:0.5em 3em;
     border:0.16em solid black;
     margin:0 0.3em 0.3em 0;
     box-sizing: border-box;
     text-decoration:none;
     text-transform:uppercase;
     font-family:'Roboto',sans-serif;
     font-weight:400;
     color:black;
     text-align:center;
     transition: all 0.15s;
    border-radius: 15px;
    width: 120px;
    height: 45px;


  
   /* background-color: #e4803a;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px;*/
    
}

.button1:hover{
    color:black;
    background:transparent;
    border: 3px solid #fff;
    transition:all 0.3s ease 0s;
}







